<div class="card-block card-block-answer">
  <button class="button-answer" {{action 'deleteMatch' item.id}}
{{action 'selectAnswer' item.id}}  id={{item.id}}
    data-task-id={{task_id}} disabled={{this.matchButtons.disableAnswers}}></button>
  <h5 class="card-answer"> {{item.value}} </h5>
</div>
