<div class="card-block">
  <div ><img class="card-question" src="{{item.value}}" alt="{{task_title}}"></div>

  <button class="button-question " {{action 'selectQuestion' item.id}} id={{item.id}}
  data-task-id={{task_id}} disabled={{this.matchButtons.disableQuestions}}>
  </button>
</div>
