<div class="matching-block">
  <div class="top-block">
    <h4 class="text-left">{{exercise.title}}</h4>
     {{matching/restart-exercise}}
  </div>
  <div class="game-block">
    <div class="card col-lg-4">
      {{matching/questions-list exercise=exercise}}
    </div>
    <div class="canvas col-lg-4"></div>
    <div class="card col-lg-4">
      {{matching/answers-list exercise=exercise}}
    </div>
  </div>
  {{feedback-exercise}}
  <div class="block-with-btn">
    {{matching/check-answers}}
    {{matching/try-again}}
    {{matching/see-answers}}
  </div>
</div>