<div class="container ">
  <div class="card typingGround card-min-size">
    <div class="card-body">
      <h2 class="card-title custom-title">{{exercise.title}}</h2>
      <div class="row justify-content-center">
        {{#each exercise.tasks as |task index|}}
        <div class="col d-flex justify-content-center align-items-center">
          <div class="card" style="width: 18rem;">
            {{#each task.items as |item|}}

            {{#if (eq item.type "image")}}
            <img src="{{item.value}}" class="card-img-top" alt="Emptiness">
            {{/if}}
            {{#if (eq item.type "text")}}
            {{compute (action "brokeAWord") item.value item.id}}
            <div class="card-body text-center">
              <span class="begin">{{get (get begin index) "text"}}</span>
              {{input value=(mut (get answers item.id)) maxlength="1" class="emptyPart answer {{item.id}}-answer"
              key-press=(action "lolObserver") }}
              <span>{{get (get end index) "text"}}</span>
              {{!-- response --}}
              {{#each right as |_right|}}
              {{#if (eq (get _right "id") item.id) }}
              <span class="normalize-icon float-right response">{{material-icon
              "done" class="text-success"}}</span>
              {{/if}}
              {{/each}}
              {{#each wrong as |_wrong|}}
              {{#if (eq (get _wrong "id") item.id)}}
              <span class="normalize-icon float-right response">{{material-icon
              "close" class="text-danger"}}</span>
              {{/if}}
              {{/each}}
              {{!-- response end --}}
            </div>
            {{/if}}
            {{#if (eq item.type "audio")}}
            <audio controls preload="true">
              <source src="{{item.value}}">
            </audio>
            {{/if}}
            {{/each}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="row clear">
      <div class="bar">
        <div class="control-panel">
          <button onclick={{action "clear"}} class="typingBtn c-pointer float-right ">Clear</button>
          <button onclick={{action "check"}} class="typingBtn c-pointer ">Check</button>
        </div>
      </div>
    </div>
  </div>
</div>