<div class="form-group">
  <label for="titleItem">Title</label>
  {{input class="form-control" value=this.item.title id="titleItem"}}
</div>

<div class="form-group">
  <label for="typeItem">Type</label>
  <select class="form-control" onchange={{action (mut this.item.type.value) value="target.value"}} id="typeItem">
    <option value="" disabled selected hidden>Select item type</option>
    {{#each this.item.type.options as |type|}}
      <option value={{type}} selected={{if (eq type this.item.type.value) 'true'}}>{{type}}</option>
    {{/each}}
  </select>
</div>

{{#if this.item.type.isText}}
  <div class="form-group">
    <label for="valueItem">Text</label>
    {{input class="form-control" value=this.item.value id="valueItem"}}
  </div>
{{/if}}

{{#if this.item.type.isImage}}
  <div class="form-group">
    <label for="valueItem">Image</label>
    {{input class="form-control" value=this.item.value id="valueItem"}}
  </div>

  <!--<div class="form-group">-->
    <!--<div class="custom-file">-->
      <!--<label for="valueItem">Image</label>-->
      <!--<input type="file" class="custom-file-input" id="valueItem">-->
      <!--<label class="custom-file-label" for="valueItem">Choose file</label>-->
    <!--</div>-->
  <!--</div>-->

{{/if}}

{{#if this.item.type.isAudio}}
  <div class="form-group">
    <label for="valueItem">Audio</label>
    {{input class="form-control" value=this.item.value id="valueItem"}}
  </div>
{{/if}}

<button class="btn btn-primary" onclick={{action 'submitAction'}}>Submit</button>
