<div class="form-group">
  <label>Title</label>
  {{input class="form-control" value=this.item.title}}
</div>

<div class="form-group">
  <label>Type</label>
  <select class="form-control" onchange={{action (mut this.item.type.value) value="target.value"}}>
    <option value="" disabled selected hidden>Select item type</option>
    {{#each this.item.type.options as |type|}}
      <option value={{type}} selected={{if (eq type this.item.type.value) 'true'}}>{{type}}</option>
    {{/each}}
  </select>
</div>

{{#if this.item.type.isText}}
  <div class="form-group">
    <label>Text</label>
    {{input class="form-control" value=this.item.value}}
  </div>
{{/if}}

{{#if this.item.type.isImage}}
  <div class="form-group">
    <label>Image</label>
    {{#if item.value}}
      <img width="300px" height="300px" class="d-block mx-auto mb-2" src={{item.value}}>
    {{else}}
      {{file-uploader accept="image/*" btnClass="btn btn-success text-white" item=this.item}}
    {{/if}}
  </div>
{{/if}}

{{#if this.item.type.isAudio}}
  <div class="form-group">
    <label>Audio</label>
    {{#if item.value}}
      <audio class="d-block mb-2 col-md-12" controls preload="true">
        <source src="{{item.value}}">
      </audio>
    {{else}}
      {{file-uploader accept="audio/*" btnClass="btn btn-success text-white" item=this.item}}
    {{/if}}
  </div>
{{/if}}

{{#if displayButton}}
  <button class="btn btn-primary" onclick={{action 'submitAction'}}>Submit</button>
{{/if}}
